body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form > div {
  display: flex;
  width: 300px;
}

input {
  padding: 10px;
  margin: 0;
  width: 100%;
  border-color: lightgray;
}

input:focus {
  outline: none;
}

button {
  padding: 10px;
  margin: 0;
  width: 100%;
  background: white;
  border: 1px solid gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form {
  position: relative;
}

.svg {
  position: absolute;
  left: -80px;
  top: -10px;
}

svg {
  width: 60px;
  height: 60px;
}